include ../core/mixins/all
aside.sidebar
  section.player.zoe-player
    a(href="radio.html", title="")
      span.player-channel FM1
      span.player-control Preset
      span.player-display 2.BNR - Dancefloor"
  section.flow
    +link("","Flow","#").flow-status
  section.driving
    +link-img("driving-img.png", "Driving status", "Status", "#", "Driving Eco<sup>2</sup>").driving-status

section.maps
  +link-img("current_map.png", "Current maps", "Map", "#", "")