include ../core/mixins/all
section.scheduler.scheduler-1
  .summary
    p The vehicle will not charge before at 21:30.
    p Make sure that the vehicle is connected to a power source before that time.
