include ../core/mixins/all
section.scheduler-calender
  .timeline
    span 0h
    span 6h
    span 12h
    span 18h
    span 24h
  ul.weekline
    li Mon.
    li Tue.
    li Wed.
    li Thu.
    li Fri.
    li Sat.
    li Sun.