include ../core/mixins/all
section.scheduler.scheduler-2
  .scheduler-content
    .col
      .content
        .item.item-1
          p.row-1 Always charging
          p.row-2
            span.wi-icon.wi-icon-chargealways &nbsp;
        +link(0, "Select", "charge-scheduler-1.html").btn-select
    .col
      .content
        .item.item-2
          p.row-1 Start at
          p.row-2
            span.wi-icon.wi-icon-clock &nbsp;
            span 22:45
        +link(0, "Select", "charge-scheduler-2.html").btn-select
      .link
        +link(0, "Edit", "charge-scheduler-timer.html").btn-3
    .col.checked
      .content
        .item.item-2
          p.row-1 Calendar
          p.row-2
            span.wi-icon.wi-icon-calendar &nbsp;
        .custom: span.wi-icon.wi-icon-check &nbsp;
      .link
        +link(0, "Edit", "charge-scheduler-calender.html").btn-3.style-1
  .summary
    p The car will charge during the scheduled hours. Please make sure the car is plugged in.
