include ../core/mixins/all

section.practice-block
  ul
    li
      article.block-1
        .item.item-1
          h2.title GREEN GROUP
          .desc
            p Emphasis:  VO2, short hight intensity, maintain form.
            p Lenght:  2300 meter
        .item
          h3.title WARM UP
          .desc
            p 100 Swim
            p 100 Kick
            p 100 Pull
        .item
          h3.title MAIN SET
          .desc
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        .item
          h3.title WARM DOWN
          .desc
            p 200 choice
    li
      article.block-2
        .item.item-1
          h2.title WHITE GROUP
          .desc
            p Emphasis:  VO2, short hight intensity, maintain form.
            p Lenght:  2300 meter
        .item
          h3.title WARM UP
          .desc
            p 100 Swim
            p 100 Kick
            p 100 Pull
        .item
          h3.title GOLD GROUP
          .desc
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        .item
          h3.title WARM DOWN
          .desc
            p 200 choice
    li
      article.block-3
        .item.item-1
          h2.title GREEN GROUP
          .desc
            p Emphasis:  VO2, short hight intensity, maintain form.
            p Lenght:  2300 meter
        .item
          h3.title WARM UP
          .desc
            p 100 Swim
            p 100 Kick
            p 100 Pull
        .item
          h3.title MAIN SET
          .desc
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        .item
          h3.title WARM DOWN
          .desc
            p 200 choice
