// @fontsPath should be defined
// before including this file

@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/myriadpro-webfont.eot');
    src: url('../fonts/myriadpro-webfont.eot') format('embedded-opentype'),
         url('../fonts/myriadpro-webfont.woff') format('woff'),
         url('../fonts/myriadpro-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-webfont.svg#MyriadProRegular') format('svg');
}

@font-face {
    font-family: 'MyriadProBold';
    src: url('../fonts/myriadpro-bold-webfont.eot');
    src: url('../fonts/myriadpro-bold-webfont.eot') format('embedded-opentype'),
         url('../fonts/myriadpro-bold-webfont.woff') format('woff'),
         url('../fonts/myriadpro-bold-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-bold-webfont.svg#MyriadProBold') format('svg');
}

@font-face {
    font-family: 'MyriadProSemibold';
    src: url('../fonts/myriadpro-semibold.eot');
    src: url('../fonts/myriadpro-semibold.eot') format('embedded-opentype'),
         url('../fonts/myriadpro-semibold.woff') format('woff'),
         url('../fonts/myriadpro-semibold.ttf') format('truetype'),
         url('../fonts/myriadpro-semibold.svg#MyriadProSemibold') format('svg');
}
