include ../core/mixins/all

section.range-content
  .col
    a(href="main-menu.html", title="")
      span.figure: img(src="images/app/upload/car-1.jpg", alt="")
      span.title + VÉHICULE PARTICULIER
  .col
    a(href="main-menu.html", title="")
      span.figure: img(src="images/app/upload/car-2.jpg", alt="")
      span.title + VÉHICULE ÉLÉCTRIQUE
