include ../core/mixins/all

section.main-content
  .slideshow
    .preview
      ul.slider
        li
          .eco-content
            .desc
              p Red light 300 yards ahead:lift the foot off the accelerator, allowing time for the light to turn green and for the other cars to set off
            .heading Anticipation
  +popin("R-Link Store", "Utilisez les applications pré-installées <br>(email, R-Link Tweet,météo, Renault Assistance) dans R-Link <br> et accédez au catalogue complet d'applications <br> conçues pour un usage automobile <br> depuis votre véhicule ou votre ordinateur.")(data-info-popin)
