include ../core/mixins/all

section.main-content
  .slideshow
    .preview
      ul.slider
        li
          .eco-content
            .desc
              p Opt for flexible driving
              p - Keep to a regular speed from 40 km/h
              p - Use the engine break rather than the foot brake.
              p Think ahead! Take your foot off the pedal more then 150 m before traffic lights.
            .heading Anticipation
        li
          .eco-content
            .desc
              p Stabilize the speed regarding the traffic
            .heading Anticipation
    .control
      +link(0, "prev", "javascript:void(0);").wi-icon.wi-icon-prev
      +link(0, "next", "javascript:void(0);").wi-icon.wi-icon-next
    ul.paging
      li.active
        +link(0, "1", "javascript:void(0);").wi-icon.wi-icon-page
      li
        +link(0, "1", "javascript:void(0);").wi-icon.wi-icon-page
  +popin("R-Link Store", "Utilisez les applications pré-installées <br>(email, R-Link Tweet,météo, Renault Assistance) dans R-Link <br> et accédez au catalogue complet d'applications <br> conçues pour un usage automobile <br> depuis votre véhicule ou votre ordinateur.")(data-info-popin)
