include ../core/mixins/all
section.main-content
  ul.list-item
    li: +menu-item("upload/vehicle-driving-trip.png", "Trip Report", "trip-report.html")
    li: +menu-item("upload/vehicle-driving-preferred.png", "My preferred trips")
    li: +menu-item("upload/vehicle-driving-eco.png", "Eco-coaching", "eco-coaching.html")
