include ../core/mixins/all
section.main-content
  ul.list-item
    li: +menu-item("upload/img-navigation.png", "Navigation", "menu-navigation.html")
    li: +menu-item("upload/img-multimedia.png", "Multimedia", "menu-multimedia.html")
    li: +menu-item("upload/img-phone.png", "Phone", "menu-phone.html")
    li: +menu-item("upload/img-vehicle.png", "Vehicle", "menu-vehicle.html")
    li: +menu-item("upload/img-services.png", "Services", "menu-services.html")
    li: +menu-item("upload/img-system.png", "System", "menu-system.html")