include ../core/mixins/all
section.main-content
  ul.list-item
    li: +menu-item("upload/navigation-drive.png", "Drive to", "nav-driver-to.html")
    li.disabled: +menu-item("upload/navigation-change.png", "Change route")
    li: +menu-item("upload/navigation-map.png", "View map")
    li.disabled: +menu-item("upload/navigation-itineraries.png", "Itineraries")
    li: +menu-item("upload/navigation-services.png", "Navigation services", "nav-services.html", "Navigation services")
    li.disabled: +menu-item("upload/navigation-setting.png", "Settings")