include ../core/mixins/all
section.main-content
  ul.list-item
    li: +menu-item("upload/vehicle-driving.png", "Driving Eco2", "vehicle-driving.html", "Driving Eco<sup>2</sup>")
    li: +menu-item("upload/vehicle-onboard.png", "Onboard computer", "onboard-computer")
    li.disabled: +menu-item("upload/vehicle-setting.png", "Settings")
