include ../core/mixins/all
section.main-content
  ul.list-item
    li: +menu-item("upload/vehicle-driving.png", "Driving Eco2", "zoe-vehicle-driving.html", "Driving Eco<sup>2</sup>")
    li: +menu-item("upload/zoe-vehicle-onboard.png", "Onboard computer")
    li: +menu-item("upload/zoe-vehicle-take-care.png", "Take Care")
    li: +menu-item("upload/zoe-vehicle-electrical.png", "Electrical vehicle", "zoe-vehicle-electrical.html")
    li.disabled: +menu-item("upload/vehicle-setting.png", "Settings")
