include ../core/mixins/all
section.main-content
  ul.list-item
    li: +menu-item("upload/electrical-1.png", "Energy flow", "video-energy-flow.html")
    li: +menu-item("upload/electrical-2.png", "Consumption details", "video-consumption-details.html", "Consumption<br/>details")
    li: +menu-item("upload/electrical-3.png", "Charge scheduler","charge-scheduler-1.html")
    li: +menu-item("upload/electrical-4.png", "Comfort timer", "comfort-timer-1.html")
