include ../core/mixins/all
section.main-content
  ul.list-item
    li.disabled: +menu-item("upload/nav-services-hd.png", "HD Traffic")
    li.disabled: +menu-item("upload/nav-services-risk.png", "Risk Zone")
    li: +menu-item("upload/nav-services-tomtom.png", "TomTom Places", "video-tomtom-places-2.html")
    li.disabled: +menu-item("upload/nav-services-live.png", "My TomTom LIVE")
    li: +menu-item("upload/nav-services-weather.png", "Weather", "weather.html")
    li.disabled: +menu-item("upload/nav-services-map.png", "Map corrections")