include ../core/mixins/all
section.main-content
  ul.list-item
    li: +menu-item("upload/phone-phonebook.png", "Phonebook", "video-phonebook.html")
    li: +menu-item("upload/phone-call-logs.png", "Call logs", "calllogs.html")
    li: +menu-item("upload/phone-dial-number.png", "Dial number", "video-dial.html")
    li.disabled: +menu-item("upload/phone-voice.png", "Voice mail")
    li.disabled: +menu-item("upload/phone-setting.png", "Settings")
