include ../core/mixins/all
section.main-content
  ul.list-item
    li: +menu-item("upload/media-usb-folders.png", "Folders", "multimedia-usb-folders.html")
    li: +menu-item("upload/media-usb-song.png", "Songs", "multimedia-usb-songs.html")
    li.disabled: +menu-item("upload/media-usb-genres.png", "Genres")
    li: +menu-item("upload/media-usb-artists.png", "Artists", "multimedia-usb-artists.html")
    li: +menu-item("upload/media-usb-albums.png", "Albums", "multimedia-usb-albums.html")
    li.disabled: +menu-item("upload/media-usb-playlist.png", "Playlists")
