include ../core/mixins/all

ul.nav-list.nav-list-1
  li: +link-text("Doo Wop (Bruce Patch)", "multimedia-usb-player.html")
  li.disabled: +link-text("Sunshine Beats (Michel Roche)", "#")
  li.disabled: +link-text("The Piano Album (Mark Russell)", "#")
