include ../core/mixins/all

ul.nav-list.nav-list-1
  li: +link-text("All songs", "sprints-multimedia-usb-song.html")
  li: +link-text("Bruce Patch - Doo Wop", "multimedia-usb-artists.html")
  li.disabled: +link-text("Mark Russell - The Piano Album", "#")
  li.disabled: +link-text("Michel Roche - Sunshine Beats", "#")
