include ../core/mixins/all

.scroll-block
  .scroll-content
    ul.nav-list.nav-list-1
      li: +link-text("Celebration Piano (Mark Russel)", "multimedia-usb-albums.html")
      li.disabled: +link-text("Faith (Mark Russel)", "#")
      li.disabled: +link-text("The Piano Album (Mark Russell)", "#")
      li.disabled: +link-text("Kro Hoppin (Bruce Patch)", "#")
      li.disabled: +link-text("Lagos Dancefloor (Michel Roche)", "#")
      li.disabled: +link-text("The Piano Album (Mark Russell)", "#")
      li.disabled: +link-text("Kro Hoppin (Bruce Patch)", "#")
      li.disabled: +link-text("Lagos Dancefloor (Michel Roche)", "#")
      li.disabled: +link-text("Lagos Dancefloor (Michel Roche)", "#")
      li.disabled: +link-text("Lagos Dancefloor (Michel Roche)", "#")
  aside.scroll-bar
    .dragger
.tabs-control
      +link("","","javascript:void(0);", "prev").btn-callogs-prev.disabled
      +link("","","javascript:void(0);", "next").btn-callogs-next
