include ../core/mixins/all

ul.nav-list
  li.songs-name: +link-text("Kro Hoppin", "multimedia-usb-songs.html")
  li.artists-name: +link-text("Bruce Patch", "multimedia-usb-artists.html")
  li.albums-name: +link-text("Doo Wop", "multimedia-usb-albums.html")
