include ../core/mixins/all

ul.nav-list.nav-list-1
  li
    a(title="Kro Hoppin", href = "multimedia-usb-player.html")
      span.albums-name 1. Kro Hoppin
      span.time-play 0:58
  li.disabled
    a(title="No Tomorrows Left", href = "javascript:void(0);")
      span.albums-name 2. No Tomorrows Left
      span.time-play 1:25
  li.disabled
    a(title="Kro Hoppin", href = "javascript:void(0);")
      span.albums-name 3. Ska Time
      span.time-play 1:34
