include ../core/mixins/all

ul.nav-list.nav-list-1
  li: +link-text("Bruce Patch", "multimedia-usb-songs.html")
  li.disabled: +link-text("Mark Russell", "#")
  li.disabled: +link-text("Michel Roche", "#")
