include ../core/mixins/all

nav.nav-list.nav-list-1
  ul
    li: +link-text("Scent diffuser", "#")
    li: +link-text("Ioniser", "#")
    li: +link-text("Outside air quality", "#")
    li: +link-text("About...", "#")
