include ../core/mixins/all
ul.list-notification
  li.list-notification-item
    span.wi-icon.wi-icon-notifications-01 Notification
    p.notification-text System update
    p.notification-sub System updated
    span.notification-date 10:32