include ../core/mixins/all

- var menu = {"icon":"", "title":"Menu", "href":"main-menu.html", "text":"Menu", "class":"btn btn-menu"}
- var items = [ {"icon":"", "title":"Change language", "href":"#", "text":"Change language", "class":"disabled"}, {"icon":"", "title":"Change home page", "href":"#", "text":"Change home page", "class":"disabled"}, {"icon":"", "title":"Save as preset", "href":"#", "text":"Save as preset", "class":"disabled"}, {"icon":"", "title":"Switch off screen", "href":"#", "text":"Switch off screen", "class":"disabled"}]

+footer(menu, items)
