extends ../_layouts/app-layout-home

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "Charge scheduler"
  - var bodyClass = "charge-scheduler"

//------------------------
//- Page content goes here
//------------------------

block content
  include ../app-charge-scheduler/scheduler-1

block footer-center
  +link("", "Done", "javascript:void(0);", "Done").btn.disabled

block footer
  include ../app-footer/charge-scheduler-timer
