extends ../_layouts/app-layout-home

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "Week calendar"
  - var bodyClass = "charge-scheduler"

//------------------------
//- Page content goes here
//------------------------

block content
  include ../app-charge-scheduler/scheduler-calender

block footer
  include ../app-footer/charge-scheduler-calender
