extends ../_layouts/app-layout-home

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "Comfort timer"
  - var bodyClass = "comfort-timer"

//------------------------
//- Page content goes here
//------------------------

block content
  include ../app-charge-scheduler/scheduler-3-2

block footer-center
  +link("", "Done", "#", "Done").btn.disabled

block footer
  include ../app-footer/scheduler
