extends ../_layouts/app-layout-home

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "Dashboard"
  - var bodyClass = "dashboard"
//------------------------
//- Page content goes here
//------------------------

block header
  include ../app-header/dashboard

block body-content
  section#main
    include ../app-dashbroad/index

block footer-center
  +link("wi-icon wi-icon-fav", "Favorite", "#", "").btn

block footer
  include ../app-footer/dashboard
