extends ../_layouts/app-layout-calllogs
//---------------------------
//- Global template variables
//---------------------------
block variables
  - var title = "Favourites"
  - var bodyClass = "favourites-page"
  - var items = [ {"icon":"", "title":"Add Favourite", "href":"#", "text":"Add Favourite", "class":"disabled"}, {"icon":"", "title":"Remove a Favourite", "href":"#", "text":"Remove a Favourite", "class":"disabled"}, {"icon":"", "title":"Remove all Favourites", "href":"#", "text":"Remove all Favourites", "class":"disabled"} ]
//------------------------
//- Page content goes here
//------------------------
block header
  header.header
block content
  include ../app-tab/tab-favourites

block footer
  +footer("dashboard.html", items)
