extends ../_layouts/app-layout-home
//---------------------------
//- Global template variables
//---------------------------

block variables
  - title = "Main menu"
  - modules= ['app-week']

//------------------------
//- Page content goes here
//------------------------
block content
  include ../app-week/index
