extends ../_layouts/app-layout

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "Index"

block content

  mixin page(n)
    a(href=n+".html"): span=n

  #tpl
    .row
      .span12: h2 Sprint 1
      .span12: +page('home')
