extends ../_layouts/app-layout-home

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "Map"
  - var bodyClass = "map"

//------------------------
//- Page content goes here
//------------------------

block header
  include ../app-header/map

block content
  include ../app-map/index

block footer-center
  +link("", "Station 3 - 101.7 FM", "#", "Station 3 - 101.7 FM").btn-2

block footer
  include ../app-footer/navigation
