extends ../_layouts/app-layout-home

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "Navigation"
  - var bodyClass = "menu-navigation"

//------------------------
//- Page content goes here
//------------------------

block content
  include ../app-menu/menu-navigation

block footer
  +footer-default("main-menu.html")