extends ../_layouts/app-layout-home

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "System setting"
  - var bodyClass = "menu-system"

//------------------------
//- Page content goes here
//------------------------
block content
  include ../app-menu/menu-system

block footer
    +footer-default("main-menu.html")