extends ../_layouts/app-layout-home

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "Vehicle"
  - var bodyClass = "menu-vehicle"

//------------------------
//- Page content goes here
//------------------------

block content
  include ../app-menu/menu-zoe-vehicle

block footer
  +footer-default("main-menu.html")