extends ../_layouts/app-layout-home

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "Multimedia usb player electrial"
  - var maintitle = "USB"
  - var bodyClass = "multimedia-usb-player"
//------------------------
//- Page content goes here
//------------------------

block header
  include ../app-header/usb-player-electrial

block body-content
  section#main
    section.player-content
      h3.title-1 Repeat | Shuffle
      include ../app-nav-list/multimedia-usb-player-electrial
      include ../app-player/multimedia-usb-player-electrial

block footer-center
  +link("", "New selection", "multimedia-usb.html", "New selection").btn.btn-4
  +link("", "Current playlist", "#", "Current playlist").btn.btn-4

block footer
  include ../app-footer/usb-player
