extends ../_layouts/app-layout-home

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "Artists"
  - var bodyClass = "menu-multimedia"

//------------------------
//- Page content goes here
//------------------------
block header
  include ../app-header/usb
block content
  section.usb-artists
    include ../app-nav-list/multimedia-usb-artists
    include ../app-audio/index

block footer
  +footer-default("multimedia-usb.html")