extends ../_layouts/app-layout-home

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "Multimedia bluetooth player electrial"
  - var maintitle = "David’s Phone"
  - var bodyClass = "multimedia-bluetooth-player"
//------------------------
//- Page content goes here
//------------------------

block header
  include ../app-header/bluetooth-player-electrial

block body-content
  section#main
    section.player-content
      include ../app-nav-list/multimedia-bluetooth-player-electrial
      include ../app-player/multimedia-bluetooth-player-electrial

block footer
  +footer-default("multimedia-media.html")
