extends ../_layouts/app-layout-home

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "Albums"
  - var bodyClass = "menu-multimedia"

//------------------------
//- Page content goes here
//------------------------
block header
  include ../app-header/usb
block content
  section.usb-albums
    include ../app-nav-list/multimedia-usb-albums
    include ../app-audio/index

block footer
  +footer-default("multimedia-usb.html")