extends ../_layouts/app-layout-app
//---------------------------
//- Global template variables
//---------------------------
block variables
  - var title = "Radio"
  - var bodyClass = "radio"
  - var items = [ {"icon":"", "title":"Change source", "href":"#", "text":"Change source", "class":""}, {"icon":"", "title":"Add to favourites", "href":"#", "text":"Add to favourites", "class":"disabled"}, {"icon":"", "title":"Save as preset", "href":"#", "text":"Save as preset", "class":""}, {"icon":"", "title":"Show radio text", "href":"#", "text":"Show radio text", "class":"disabled"}, {"icon":"", "title":"Settings", "href":"#", "text":"Settings", "class":"disabled"} ]
//------------------------
//- Page content goes here
//------------------------
block header
  include ../app-header/radio

block body-content
  #main
    include ../app-tab/tab-multimedia-radio
    include ../app-audio/index

block footer
  +footer("menu-multimedia.html", items)
