extends ../_layouts/app-layout-home

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "Media selection"
  - var bodyClass = "menu-multimedia"

//------------------------
//- Page content goes here
//------------------------

block content
  include ../app-menu/menu-multimedia-pictures

block footer
  +footer-default("menu-multimedia.html")