extends ../_layouts/app-layout-home

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "Navigation Services"
  - var bodyClass = "menu-navigation"

//------------------------
//- Page content goes here
//------------------------

block content
  include ../app-menu/menu-nav-services
block footer
  +footer-default("menu-navigation.html")
