extends ../_layouts/app-layout-home

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "Driver to ..."
  - var bodyClass = "nav-driver-to"

//------------------------
//- Page content goes here
//------------------------

block content
  include ../app-menu/menu-nav-driver-to
block footer
  +footer-default("menu-navigation.html")
