extends ../_layouts/app-layout-home
include mixins/all

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "Notifications"
  - var bodyClass = "system-notification"

//------------------------
//- Page content goes here
//------------------------

block body-content
  section#main
    include ../app-system-notification/index

block footer-center
  +link("", "Clear", "javascript:void(0);", "Clear").btn.disabled

block footer
  include ../app-footer/system