extends ../_layouts/app-layout-home

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "Phone"
  - var bodyClass = "dashboard time-page"

//------------------------
//- Page content goes here
//------------------------
block header
block content
  include ../app-time-page/index

block footer
  +footer("dashboard.html")