extends ../_layouts/app-layout-home

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "Driving Eco"
  - var bodyClass = "menu-vehicle"
  - var maintitle = "Driving Eco<sup>2</sup>"

//------------------------
//- Page content goes here
//------------------------

block content
  include ../app-menu/menu-vehicle-driving

block footer
  +footer-default("menu-vehicle.html")
