extends ../_layouts/app-layout-home

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "Driver to ..."
  - var bodyClass = "default-video"

//------------------------
//- Page content goes here
//------------------------

block content
  include ../app-video/video-address

block footer
  +footer-default("menu-navigation.html")
