extends ../_layouts/app-layout-full

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "Range Selection"
  - var bodyClass = "introduction-video"

//------------------------
//- Page content goes here
//------------------------

block fullscreen
  include ../app-video/video-introduction
