extends ../_layouts/app-layout-full

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "Video"
  - var bodyClass = "default-video"

//------------------------
//- Page content goes here
//------------------------

block fullscreen
  include ../app-video/video-tomtom-places-2
