extends ../_layouts/app-layout-home
include mixins/all

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "Take Care"
  - var bodyClass = "takecare"

//------------------------
//- Page content goes here
//------------------------

block body-content
  section#main
    include ../app-nav-list/zoe-take-care
    include ../app-video/video-particules