extends ../_layouts/app-layout-home

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "Onboard computer"
  - var bodyClass = "onboard-computer"

//------------------------
//- Page content goes here
//------------------------

block content
  include ../app-nav-list/zoe-onboard-computer

block footer-center
  +link("", "Reset", "javascript:void(0);", "Reset").btn.disabled

block footer
  include ../app-footer/vehicle
