extends ../_layouts/app-layout-home

//---------------------------
//- Global template variables
//---------------------------

block variables
  - var title = "Driving Eco"
  - var maintitle = "Driving Eco<sup>2</sup>"
  - var bodyClass = "menu-vehicle"

//------------------------
//- Page content goes here
//------------------------

block content
  include ../app-menu/menu-zoe-vehicle-driving
block footer
  +footer-default("menu-zoe-vehicle.html")
