include ../core/mixins/all
- var items = [ {"day":"MON", "icon01":"wi-icon wi-icon-rain", "tempTo":"3<sup>o</sup>C", "tempForm":"9<sup>o</sup>C","icon02":"wi-icon wi-icon-wind"}, {"day":"TUE", "icon01":"wi-icon wi-icon-rain", "tempTo":"4<sup>o</sup>C", "tempForm":"11<sup>o</sup>C","icon02":"wi-icon wi-icon-wind"}, {"day":"WED", "icon01":"wi-icon wi-icon-rain", "tempTo":"3<sup>o</sup>C", "tempForm":"10<sup>o</sup>C","icon02":"wi-icon wi-icon-wind"}, {"day":"THU", "icon01":"wi-icon wi-icon-rain", "tempTo":"3<sup>o</sup>C", "tempForm":"9<sup>o</sup>C","icon02":"wi-icon wi-icon-wind"},{"day":"FRI", "icon01":"wi-icon wi-icon-rain", "tempTo":"4<sup>o</sup>C", "tempForm":"10<sup>o</sup>C","icon02":"wi-icon wi-icon-wind"} ]
- var itemsText = [{"status":"Precipitation", "unit":"1mm" }, {"status":"Chance", "unit":"15%" }, {"status":"Chance for sun", "unit":"80%" }, {"status":"UV Index", "unit":"6" }, {"status":"Wind speed", "unit":"7 MpH" } ]

section#main
  .weather-block
    +list-weather(items)
    .weather-location
      span.text-intro Relative to:
      span Paris, France
  .weather-block
    h3 Rainy with some scattered clouds.<br/>Intense showers for long periods.
    +list-weather-text(itemsText)
