@import "../../core/stylesheets/variables.less";
@import "../../core/stylesheets/mixins.less";

/* ===================
 * header/app.less
 * =================== */

.week-block {
  background: url('@{img-path}bg-header.png') center 0 repeat-x;
  th {
    &.col-1 {
      background-color: #1dd2af;
    }
    &.col-2 {
      background-color: #2ecc71;
    }
    &.col-3 {
      background-color: #3498db;
    }
    &.col-4 {
      background-color: #246fa2;
    }
    &.col-5 {
      background-color: #2980b9;
    }
    &.col-6 {
      background-color: #27ae60;
    }
    &.col-7 {
      background-color: #16a085;
    }
  }
  td {
    &.col-1 {
      background: #73e3ce url('@{img-path}bgd-week-1.png') no-repeat 100% 0;
    }
    &.col-2 {
      background: #7ee0a8 url('@{img-path}bgd-week-2.png') no-repeat 100% 0;
    }
    &.col-3 {
      background: #82bfe9 url('@{img-path}bgd-week-3.png') no-repeat 100% 0;
    }
    &.col-4 {
      background: #a0c1d7 url('@{img-path}bgd-week-4.png') no-repeat 100% 0;
    }
    &.col-5 {
      background: #7bb0d3 url('@{img-path}bgd-week-5.png') no-repeat 100% 0;
    }
    &.col-6 {
      background: #79cd9c url('@{img-path}bgd-week-6.png') no-repeat 100% 0;
    }
    &.col-7 {
      background: #6fc4b4 url('@{img-path}bgd-week-7.png') no-repeat 100% 0;
    }
  }
}
