include ../core/mixins/all

mixin data(text1, text2, value)
  .data
    | #{text1}
    span!=text2
  .value!=value
section.main-content
  h3.title-3
    | Distance: 20&nbsp;
    span km
  .trip-block
    .col
      ul.list-1
        li: +data("Average consumption", "kWh / 100 km", "4.1")
        li: +data("Average speed", "km/h", "48.2")
        li: +data("Total consumption", "kWh", "3")
        li: +data("Energy saved", "kWh", "1")
    .col.col-1
      ul.list-2.style-1
        li
          .item.item-2
            .inner
              | 60&nbsp;
              span / 100
        li
          .item.item-6
            .inner Anticipation
        li
          .item.item-7
            .inner Vitesse
